.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width:23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

.rodapePrincipal-navMap-list{
    display:flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    height: 250px;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 5%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm{
    width:25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}



/* parte mobile */
@media(max-width: 768px){

    .cabecalhoPrincipal-nav{
        flex-direction: column;   
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

    .cabecalhoPrincipal .container{
        align-items: initial;
        flex-direction: column;
        text-align: center;
    }

    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
        margin: 0;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }

    .videoSobre .container{
        flex-direction: column;
        margin: 0 auto;
    }
}